<content-loader
  viewBox="0 0 700 300"
  [speed]="0.7"
  backgroundColor="#f3f3f3"
  foregroundColor="#ecebeb"
>
  <svg:rect x="32" y="7" rx="0" ry="0" width="159" height="256" />
  <svg:rect x="214" y="16" rx="0" ry="0" width="131" height="10" />
  <svg:rect x="214" y="41" rx="0" ry="0" width="135" height="7" />
  <svg:rect x="218" y="83" rx="0" ry="0" width="325" height="8" />
  <svg:rect x="216" y="106" rx="0" ry="0" width="325" height="8" />
  <svg:rect x="224" y="152" rx="0" ry="0" width="325" height="8" />
  <svg:rect x="219" y="178" rx="0" ry="0" width="325" height="8" />
  <svg:rect x="405" y="17" rx="0" ry="0" width="131" height="10" />
  <svg:rect x="405" y="42" rx="0" ry="0" width="135" height="7" />
  <svg:rect x="224" y="220" rx="0" ry="0" width="325" height="8" />
  <svg:rect x="219" y="246" rx="0" ry="0" width="325" height="8" />
</content-loader>
