#tags-select {
  width: 100%;
  padding-top: 5px;
  padding-left: 7px;
  display: flex;
  flex-wrap: wrap;
}

.btn__add {
  border: 1px solid rgba(33, 37, 41, 0.3)
}

.btn__add:hover {
  background-color: rgba(33, 37, 41, 0.5) !important;
  color: #f9fafb;
}