<app-simple-loader *ngIf="loading"></app-simple-loader>
Selected actors: {{selectedActors | json}}
Genres select: {{ genresSelect | json }}
<form (ngSubmit)="onSubmit()" [formGroup]="createForm" *ngIf="!loading">
  <div class="mb-3">
    <label for="title" class="form-label">{{
      "forms.labels.title" | translate
    }}</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="{{ 'forms.labels.title' | translate }}"
      formControlName="title"
      [ngClass]="{
        'is-invalid':
          form.title.errors && form.title.touched && form.title.invalid
      }"
    />
    <div *ngIf="form.title.errors" class="invalid-feedback">
      <div *ngIf="form.title.errors.required">
        {{ "forms.validationMessages.titleRequired" | translate }}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="poster" class="form-label">{{
      "forms.labels.poster" | translate
    }}</label>
    <input
      type="url"
      class="form-control"
      id="poster"
      placeholder="{{ 'forms.labels.poster' | translate }}"
      formControlName="poster"
      [ngClass]="{
        'is-invalid':
          form.poster.errors && form.poster.touched && form.poster.invalid
      }"
    />
    <div
      *ngIf="form.poster.touched && form.poster.invalid"
      class="invalid-feedback"
    >
      <div *ngIf="form.poster.errors?.required">
        {{ "forms.validationMessages.posterRequired" | translate }}
      </div>
      <div *ngIf="form.poster.errors?.pattern">
        {{ "forms.validationMessages.posterValidUrl" | translate }}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="genres" class="form-label">{{
      "forms.labels.genres" | translate
    }}</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Recipient's username"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        (keydown.enter)="addElement('genres')"
        formControlName="genres"
      />
      <div class="input-group-append">
        <button class="btn bg-transparent btn__add" (click)="addElement('genres')">
          +
        </button>
      </div>
    </div>
    
    <div id="tags-select">
      <app-select-value *ngFor="let genre of genresSelect" [label]="genre"></app-select-value>
    </div>
    
  </div>
  <div class="mb-3">
    <label for="actors" class="form-label">{{
      "forms.labels.actors" | translate
    }}</label>
    <ng-select
      formControlName="actors"
      [multiple]="true"
      [hideSelected]="true"
      [closeOnSelect]="false"
      placeholder=""
    >
      <ng-option *ngFor="let actor of actorsList" [value]="actor.id">{{
        actor.label
      }}</ng-option>
    </ng-select>
  </div>
  <div class="mb-3">
    <label for="company" class="form-label">{{
      "forms.labels.company" | translate
    }}</label>
    <select class="custom-select mb-3 form-select" formControlName="company">
      <option [ngValue]="null" disabled>
        {{ "forms.labels.companyDescription" | translate }}
      </option>
      <option *ngFor="let company of companiesList" [ngValue]="company">
        {{ company.label }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label for="year" class="form-label">{{
      "forms.labels.releaseYear" | translate
    }}</label>
    <input
      type="number"
      id="year"
      class="form-control"
      name="year"
      min="2000"
      max="{{ currentYear }}"
      step="1"
      formControlName="year"
    />
  </div>
  <div class="mb-3">
    <label for="duration" class="form-label">{{
      "forms.labels.duration" | translate
    }}</label>
    <input
      type="number"
      id="duration"
      class="form-control"
      name="duration"
      min="70"
      max="300"
      step="1"
      formControlName="duration"
    />
  </div>
  <div class="mb-3">
    <label for="rating" class="form-label">{{
      "forms.labels.ratings" | translate
    }}</label>
    <input
      type="number"
      class="form-control"
      min="1"
      max="10"
      step="1"
      formControlName="rating"
      [ngClass]="{
        'is-invalid':
          form.rating.errors && form.rating.touched && form.rating.invalid
      }"
    />
    <div *ngIf="form.rating.errors" class="invalid-feedback">
      <div *ngIf="form.rating.errors.max">
        {{ "forms.validationMessages.ratingMaxValue" | translate }}
      </div>
      <div *ngIf="form.rating.errors.min">
        {{ "forms.validationMessages.ratingMinValue" | translate }}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
    {{ "forms.buttons.submit" | translate }}
  </button>
</form>
