<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand">
      <button
        *ngIf="!isDetailsOrForm"
        class="btn float-start"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvas"
        role="button"
      >
        <i
          class="fa-solid fa-bars"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvas"
        ></i>
      </button>
      <button
        type="button"
        class="btn bg-transparent"
        (click)="back()"
        *ngIf="isDetailsOrForm"
      >
        <i class="fa-solid fa-arrow-left-long"></i>
      </button>

      <span class="h3 ms-4 pt-4">{{ title | translate }}</span>
    </div>
  </div>
</nav>
