/* La barra de navegación lateral con las opciones */
#sidebar-menu {
  height: 100%;
  width: 0; /* Por defecto no tiene ancho al estar escondido */
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

/* Los elementos de navegación */
#sidebar-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

/* Cursor sobre elementos */
#sidebar-menu a:hover {
  color: #f1f1f1;
}

#sidebar-menu .sidebar-menu__close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: transparent;
  color: #818181;
}

@media screen and (max-height: 450px) {
  #sidebar-menu {
    padding-top: 15px;
  }
  #sidebar-menu a {
    font-size: 18px;
  }
}
