
<div class="container" *ngIf="(loading$ | async) === false">
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-3">
      <img class="img-fluid" [src]="movie?.poster" [alt]="movie?.title" />
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-lg text-start">
          <h3>Puntuación</h3>
          <p>{{ movie?.imdbRating }}</p>
        </div>
        <div class="col-lg text-end">
          <h3>Duración</h3>
          <p>{{ movie!!.duration | duration }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">
          <h3>Actores</h3>
          <hr />
          <p *ngFor="let actor of movie?.actors">
            {{ actor.first_name }} {{ actor.last_name }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">
          <h3>Estudio</h3>
          <hr />
          <p>
            {{ movie?.company?.name }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">
          <h3>Géneros</h3>
          <hr />
          <small class="text-muted" *ngFor="let genre of movie?.genre"
            >#{{ genre | lowercase }}
          </small>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
