.action-buttons {
    display: flex;
    flex-direction: row-reverse;
}
.action-buttons__circle__xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  margin-left: 3px;
}

.action-buttons__circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

@media (max-width: 450px) {
  .action-buttons {
    position: fixed;
    z-index: 1;
    bottom: 10px;
    right: 0;
  }
}
